    * {
        padding: 0px;
        margin: 0px;
    }
    
    #d-button-btn {
        margin-right: 10px;
    }
    
    #button-btn {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #700202;
    }
    
    #button-btn-d {
        background-color: #700202;
    }
    
    #img {
        margin-left: 15px;
        margin-right: 10px;
    }
    
    #logo {
        background-color: #2e0101;
    }
    
    #nosotros {
        margin-top: 0px;
    }
    
    #contacto {
        margin-top: 100px;
        margin-top: 100px;
        background-color: #d1d0d0;
    }
    
    #servicios {
        margin-top: 50px;
        background-color: #2e0101;
    }
    
    #servicios-d {
        margin-left: 0px;
        margin-right: 0px;
        background-color: transparent;
    }
    
    #h {
        margin: 0px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0px;
    }
    
    #button-btn-end {
        margin-left: 900px;
        margin-right: 0px;
        background-color: rgba(82, 5, 2, 0.89);
    }
    
    #plano {
        margin-left: 100px;
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: #ffffff;
    }
    
    main {
        flex: 1 0 auto;
    }